.container-title{
    background: url(../images/title-image-2.png) no-repeat center;
    background-size: cover;
}

.bg-body-tertiary{
    background-color: white;
}

.icons{
    height: 70px;
    width: 70px;
    
}

.skill-text{
    display: flex;
    justify-content: center;
}

#divider {
    margin: 20px auto;
    text-align: center;
    height: 2px;
    width: 30%;
    background: linear-gradient(90deg, #ffffff, hsl(196, 97%, 77%), #ffffff);
  }